version = "0.0.1-antinstall"

[loader]
name = "antboot"
verbose = true
version = "2.0.0-indev"

[system]
osname = "zAntOS"
version = "$$KERNEL_VERSION$$"

[kernel]
image-path="$SYSTEMROOT$/$$KERNEL_RPATH$$"

[[driver]]
name="Test Driver"
image-path="$SYSTEMROOT$/test.drv"
preload=true